<div>
</div>

<md-content flex layout-padding>
    <div layout="row">
        <div flex>
            <div class="md-headline margin-bottom-medium">About Shahla</div>
            Shahla Khan is a registered dietitian with several years of professional experience in acute care and outpatient settings. She received her B.A. from UCLA and masters in public health specializing in nutrition from the University of Michigan, Ann Arbor.
            <br>
            <br>
            Working in a trauma center as a critical care dietitian, Shahla has provided medical nutrition therapy and counseling to both adult and pediatric patients with a variety of disease states including diabetes, diverticulitous, Celiacs disease, chronic kidney disease, hypertension, cirrhosis, and stroke among others.
        </div>

        <div flex="5" class="right-column"></div>
        <div flex="40" class="right-column">
            <div class="md-headline margin-bottom-medium">Our Location</div>
            <iframe width="100%" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpYpOyGGGwoARnj7YsRSgG0g&key=AIzaSyAfSBuUS3m3K54uJrpwoS1wNUP6LzLaUv0" allowfullscreen></iframe>

            <div class="bold margin-top-small">
                22777 Lyons Ave, Suite 221
                <br>
                Santa Clarita, CA 91321
                <br>
                (661) 733-2939
            </div>
        </div>
    </div>
</md-content>
