<nav class="navbar navbar-default navbar-fixed-top" ng-hide="$state.current.name === 'main.exercises'">
    <div class="container-fluid">
        <a class="navbar-brand" id="home-link" ui-sref="main.conjugationPractice">StudyArabic.com</a>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="main.conjugationPractice">Conjugation Practice</a></li>
            <li ui-sref-active="active"><a ui-sref="main.typingTutor">Typing Tutor</a></li>
            <li ui-sref-active="active"><a ui-sref="main.about">About</a></li>
        </ul>
    </div>
</nav>

<div>

    <div ui-view></div>

</div>
