.full-height {
  height: 100%;
}
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  font-family: helvetica, verdana, arial, sans-serif;
  margin: 0;
}
.show-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  background-color: #a9cdc3;
}
.show-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #665178;
  -webkit-box-shadow: 0 0 1px #665178;
}
.column1 {
  background-color: #f1f1f1;
  height: 100vh;
  overflow-y: scroll;
}
.column1::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  background-color: #a9cdc3;
}
.column1::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #665178;
  -webkit-box-shadow: 0 0 1px #665178;
}
.column2 {
  background-color: lightsteelblue;
  height: 100vh;
}
.error {
  color: #a94442;
  background-color: #eccfcf;
}
.success-bg {
  background-color: #d1e9c7;
}
.pointer {
  cursor: pointer;
}
.no-highlight {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.small-font {
  font-size: 13px !important;
}
.medium-font {
  font-size: 20px !important;
}
.large-font {
  font-size: 30px !important;
}
.largest-font {
  font-size: 60px;
}
.question-box {
  margin-top: 150px;
}
.question-mode {
  background-color: lightgreen;
}
input.answer-input {
  border: none;
  outline: none;
  width: 85%;
  font-size: 60px;
}
.correct-answer {
  color: #3c763d;
  font-style: italic;
  font-size: 18px;
}
.incorrect-answer {
  color: #3c763d;
  font-style: italic;
  font-size: 18px;
  color: #a94442;
}
.input-and-buttons {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.input-container {
  padding-left: 0;
}
.message-mode {
  font-size: 30px !important;
}
.question-details {
  background-color: yellow;
}
.padding-small {
  padding: 5px;
}
.padding-left-small {
  padding-left: 5px;
}
.padding-right-small {
  padding-right: 5px;
}
.padding-top-small {
  padding-top: 5px;
}
.padding-right-medium {
  padding-right: 10px;
}
.padding-left-medium {
  padding-left: 10px;
}
.padding-top-medium {
  padding-top: 10px;
}
.padding-bottom-medium {
  padding-bottom: 10px;
}
.padding-top-large {
  padding-top: 15px;
}
.padding-bottom-large {
  padding-bottom: 15px;
}
.margin-right-small {
  margin-right: 5px;
}
.margin-left-small {
  margin-left: 5px;
}
.margin-bottom-small {
  margin-bottom: 5px;
}
.margin-bottom-medium {
  margin-bottom: 10px;
}
.margin-bottom-large {
  margin-bottom: 15px;
}
.margin-bottom-largest {
  margin-bottom: 20px;
}
.margin-top-small {
  margin-top: 5px;
}
.margin-top-medium {
  margin-top: 10px;
}
.margin-top-large {
  margin-top: 15px;
}
.no-margin {
  margin: 0;
}
.section-title {
  background-color: #a9cdc3;
  font-size: 20px !important;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
