.full-height {
  height: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: helvetica, verdana, arial, sans-serif;
}
.left-panel {
  height: 100%;
  background-color: lightsteelblue;
}
.main-panel {
  height: 100%;
  background-color: silver;
}
.question-box {
  background-color: lightgreen;
  order: 1;
  flex: 0 0 auto;
  align-self: auto;
  min-width: 0;
  padding: 20px;
  border: solid 2px silver;
}
.content-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.columns-container {
  display: flex;
  flex: 1;
}
.column2 {
  flex: 3;
  background-color: lightyellow;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.column1,
.column3 {
  /* 12em is the width of the columns */
  flex: 1;
  background-color: lightsteelblue;
}
.header {
  background-color: lightseagreen;
}
.footer {
  background-color: orange;
}
.large-font {
  font-size: 30px;
}
.huge-font {
  color: steelblue;
  font-size: 50px;
  font-weight: bold;
}
