<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">Arabic Verb Practice</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<div class="container-fluid full-height">

    <!--<div ui-view class="full-height"></div>-->

    <div class="HolyGrail row">
        <header class="header">…</header>
        <div class="HolyGrail-body">
            <main class="HolyGrail-content">
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
                <br>hello there
            </main>
            <nav class="HolyGrail-nav">…</nav>
            <aside class="HolyGrail-ads">…</aside>
        </div>
        <footer class="footer">…</footer>
    </div>

</div>
