// put global variables here
@normal: #665178;
@secondary: #A9CDC3;
@light: #f1f1f1;

@errorColor: #A94442;
@errorBg: #ECCFCF;
@successColor: #3C763D;
@successBg: #D1E9C7;

.full-height {
    height: 100%;
}

html {
    .full-height;
    margin: 0;
}

.container-fluid {
    padding-right: 0 !important; /*15px in bootstrap.css*/
    padding-left: 0 !important;  /*idem*/
    margin-right: auto;
    margin-left: auto;
}

body {
    .full-height;
    font-family: helvetica, verdana, arial, sans-serif;
//    font-size: 13px;
    margin: 0;
}

.column1 {
    background-color: @light;
}

.error {
    color: @errorColor;
    background-color: @errorBg;
}

.success-bg {
    background-color: @successBg;
}

.pointer {
    cursor: pointer;
}

.no-highlight {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

@import 'margins_padding.less';
@import 'verb_app.less';
@import 'typography.less';
@import 'column1.less';
@import 'alignment.less';
@import 'css_animations.less';
@import 'app_alert.less';

