// put global variables here
@normal: #9EB0CB;
@light: #E4E9F1;
@dark: #476085;

.full-height {
    height: 100%;
}

html {
    .full-height;
}

body {
    .full-height;
    font-family: helvetica, verdana, arial, sans-serif;
    margin: 0;
}

.question-box {
    background-color: lightgreen;
    order: 1;
    flex: 0 0 auto;
    align-self: auto;
    min-width: 0;
    padding: 20px;
    border: solid 2px silver;
    height: 100%;
    margin-top: 100px;
}

// Layout stuff see holy grail layout: https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
.content-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.columns-container {
    display: flex;
    flex: 1;
}
.column2 {
    flex: 3;
    background-color: white;
    display: flex;
    flex-flow:  row;
    justify-content: center;
//    align-content: center;
//    align-items: center;
}

.column1, .column3 {
    /* 12em is the width of the columns */
//    flex: 0 0 12em;
    flex: 1;
    background-color: @light;
}

.header {
    background-color: lightseagreen;
}

.footer {
    background-color: orange;
}

.error {
    color: red;
}

@import 'margins_padding.less';
@import 'typography.less';
@import 'pure_buttons.less';
@import 'column1.less';
