// put global variables here


.full-height {
    height: 100%;
}

html {
    .full-height;
}

body {
    font-family: helvetica, verdana, arial, sans-serif;
    .full-height;
    padding-top: 50px;
}

.left-panel {
    .full-height;
    background-color: lightsteelblue;

}

.main-panel {
    .full-height;
}

// import the main bootstrap file
@import 'assets/styles/margins_padding.less';


