.question-box {
  margin-top: 150px;
}

.question-mode {
  background-color: lightgreen;
}

.message-mode {
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input.answer-input {
  border: none;
//  border-bottom: solid;
  outline: none;
  width: 85%;
  .largest-font;
}

.answer {
  position: absolute;
  left: 18%;
  top: 15px;
}

.correct-answer {
  .answer;
  color: @successColor;
  font-style: italic;
  font-size: 18px;
}

.incorrect-answer {
  .answer;
  .correct-answer;
  color: @errorColor;
}

.input-and-buttons {
  background-color: @light;
}

.question-details {
  background-color: yellow;
}

.button-container {
  background-color: orange;
  padding-top: 40px;
  padding-bottom: 40px;
}

.input-container {
  padding-top: 40px;
}

.pronoun-container {
  .input-container;
}
