.question-box {
  margin-top: 150px;
}

.question-mode {
  background-color: lightgreen;
}

input.answer-input {
  border: none;
//  border-bottom: solid;
  outline: none;
  width: 85%;
  .largest-font;
}

.correct-answer {
  color: @successColor;
  font-style: italic;
  font-size: 18px;
}

.incorrect-answer {
  .correct-answer;
  color: @errorColor;
}

.input-and-buttons {
  background-color: @light;
  padding-top: 30px;
  padding-bottom: 30px;
}

.input-container {
  padding-left: 0;
}

.message-mode {
  .large-font;
}

.question-details {
  background-color: yellow;
}


