.question-box {
}

.answer-input {
}

.question-mode {
  background-color: lightgreen;
}

input.answer-input {
  border: none;
  border-bottom: solid;
  outline: none;
  padding: 5px;
}

.correct-answer {
  color: @successColor;
  font-style: italic;
  font-size: 18px;
}

.incorrect-answer {
  .correct-answer;
  color: @errorColor;
}

.input-and-buttons {
  background-color: @light;
}

.normal-button {
  width: 170px;
  margin-top: 3px;
  margin-bottom: 3px;
  opacity: 1 !important;
}

.input-container {
  padding-left: 0;
}

.message-mode {
  .large-font;
  text-align: center;
  height: 244px;
}

.question-details {
  background-color: yellow;
}


