<div dir="rtl">
    <div class="incorrect-answer" ng-if="question.isCorrect === false">
        <i class="fa fa-times-circle fa-lg"></i>
        Incorrect
    </div>

    <div class="correct-answer" ng-if="question.isCorrect === true">
        <i class="fa fa-check-circle fa-lg"></i>
        Correct
    </div>
    <input class="answer-input" ng-disabled="question.isCorrect" answer-progress question-obj="question"
           ng-class="{'error': question.userError}" ng-keypress="$event.which === 13 && questions.checkAnswer(question.userAnswer, question.perfect)" answer="question.perfect" ng-model="question.userAnswer" type="text">
</div>

<div class="margin-top-large">
    <div class="medium-font1 well">
        <!--<i class="fa fa-circle"></i> Type: {{question.verb.type.name.capitalize()}}-->
        <!--<br>-->
        <!--<i class="fa fa-arrow-right"></i> {{conjugator.getName(question).capitalize()}}-->
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-arrow-right"></i>Type: {{question.verb.type.name.capitalize()}}</li>
            <li><i class="fa-li fa fa-arrow-right"></i>Person: {{conjugator.getName(question).capitalize()}}</li>
            <li><i class="fa-li fa fa-arrow-right"></i>Form: I</li>
            <li><i class="fa-li fa fa-arrow-right"></i>Tense: Perfect</li>
            <li><i class="fa-li fa fa-arrow-right"></i>Voice: Active</li>
        </ul>
    </div>
</div>
