<filter-section options="filterOptions.types" title="Type"></filter-section>

<div>
    <div class="section-title row">
        <input type="checkbox" ng-model="filterOptions.allPronouns" ng-change="filterOptions.toggleAll('pronouns', filterOptions.allPronouns)"> Person
    </div>

    <table class="table">
        <tbody>
        <tr ng-repeat="item in filterOptions.pronouns">
            <td class="col-md-1">
                <input type="checkbox" ng-model="item.selected" ng-change="questions.updateQuestions()">
            </td>
            <td class="small-font">{{conjugator.getName(item).capitalize()}}</td>
            <td class="large-font">{{item.pronoun}}</td>
        </tr>
        </tbody>
    </table>
</div>

<filter-section options="filterOptions.forms" disabled="true" title="Form"></filter-section>
<filter-section options="filterOptions.tenses" disabled="true" title="Tense"></filter-section>
<filter-section options="filterOptions.voices" disabled="true" title="Voice"></filter-section>
<filter-section options="filterOptions.moods" disabled="true" title="Mood"></filter-section>
