<div class="container-fluid exercises">
    <div class="row margin-top-large">


            <div class="col-sm-8 col-sm-offset-2" ng-repeat="question in questionsService.questions" ng-if="question === questionsService.currentQuestion">

                <div class="question-heading medium-font1 row">

                    <div class="col-sm-6">
                        Question {{$index + 1}} of {{questionsService.questions.length}}
                        <br>
                        Chapter 18
                    </div>
                    <div class="col-sm-6">
                        <div class="incorrect-answer align-right" ng-if="question.isCorrect === false">
                            <i class="fa fa-times-circle fa-lg"></i>
                            Incorrect
                        </div>

                        <div class="correct-answer align-right" ng-if="question.isCorrect === true">
                            <i class="fa fa-check-circle fa-lg"></i>
                            Correct
                        </div>
                    </div>

                </div>

                <div class="question-answer row" dir="rtl">
                    <input class="answer-input-small" ng-model="question.question" disabled>

                    <div class="user-input-container">

                        <input class="answer-input-small" answer-progress question-obj="question"
                               ng-class="{'error': question.userError}" ng-keypress="$event.which === 13 && questions.checkAnswer(question.userAnswer, question.answer)"
                               answer="question.answer" ng-model="question.userAnswer" type="text">
                    </div>
                </div>

                <div class="buttons-container row">

                    <div class="col-sm-6">
                        <div class="no-highlight question-navigation">
                            <span class="pointer" ng-click="questions.previousQuestion()">
                                <i class="fa fa-arrow-circle-left"></i>
                                Previous
                            </span>
                            <strong>|</strong>
                            <span class="pointer" ng-click="questions.nextQuestion()">
                                Next
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-6 align-right">
                        <button class="btn btn-default standard-btn" ng-hide="question.isCorrect" ng-click="questionsService.showAnswer(question, question.answer)">Show Answer</button>
                        <button class="btn btn-default standard-btn" ng-hide="question.isCorrect" ng-click="questionsService.checkAnswer(question.userAnswer, question.answer)">Check Answer</button>
                        <button class="btn btn-default standard-btn" ng-show="question.isCorrect" ng-click="questionsService.nextQuestion()">Next Question</button>
                    </div>

                </div>

            </div>

    </div>
</div>
