<div class="container-fluid exercises">
    <div class="row question-box">

            <div class="col-sm-8 col-sm-offset-2" ng-repeat="question in questionsService.questions" ng-if="question === questionsService.currentQuestion">

                <div class="question-heading medium-font1 row">

                    <div class="col-sm-6 medium-font">
                        <div class="form-inline">
                            <div class="form-group">
                                Lesson:
                                <select ng-change="setFilter()" class="form-control" ng-options="chapter as chapter.name for chapter in chapterData.chapters" ng-model="chapterData.selectedChapter"></select>
                            </div>
                        </div>
                        Question {{questionsService.questionIndex + 1}} of {{questionsService.filteredQuestions.length}}
                    </div>
                    <div class="col-sm-6">
                        <div class="incorrect-answer align-right" ng-if="question.isCorrect === false">
                            <i class="fa fa-times-circle fa-lg"></i>
                            Incorrect
                        </div>

                        <div class="correct-answer align-right" ng-if="question.isCorrect === true">
                            <i class="fa fa-check-circle fa-lg"></i>
                            Correct
                        </div>
                    </div>

                </div>

                <div class="question-answer row" dir="rtl">
                    <textarea class="answer-input-small" ng-model="question.question" disabled></textarea>

                    <div class="user-input-container">
                        <textarea ng-disabled="question.isCorrect" class="answer-input-small" answer-progress question-obj="question"
                               ng-class="{'error': question.userError}" ng-keypress="$event.which === 13 && questions.checkAnswer(question.userAnswer, question.answer)"
                               answer="question.answer" ng-model="question.userAnswer" type="text"></textarea>
                    </div>
                </div>

                <div class="buttons-container row">

                    <div class="col-sm-4">
                        <prev-next></prev-next>
                    </div>

                    <div class="col-sm-8 align-right">
                        <button class="btn btn-default standard-btn" ng-hide="question.isCorrect" ng-click="questionsService.showAnswer(question, question.answer)">Show Answer</button>
                        <button class="btn btn-default standard-btn" ng-hide="question.isCorrect" ng-click="questionsService.showNextLetter(question)">Show Next Letter</button>
                        <button class="btn btn-default standard-btn" ng-hide="question.isCorrect" ng-click="questionsService.checkAnswer(question.userAnswer, question.answer)">Check Answer</button>
                        <button class="btn btn-default standard-btn" ng-show="question.isCorrect" ng-click="questionsService.nextQuestion()">Next Question</button>
                    </div>

                </div>

            </div>

    </div>
</div>

