<div class="container-fluid exercises">
    <div class="row margin-top-large">


            <div class="col-sm-8 col-sm-offset-2" ng-repeat="question in questionsService.questions" ng-if="question === questionsService.currentQuestion">

                <div class="question-heading medium-font1 row">

                    <div class="col-sm-6">
                        Question 1 of 12
                        <br>
                        Chapter 18
                    </div>
                    <div class="col-sm-6">
                        <div class="incorrect-answer align-right" ng-if="question.isCorrect === false">
                            <i class="fa fa-times-circle fa-lg"></i>
                            Incorrect
                        </div>

                        <div class="correct-answer align-right" ng-if="question.isCorrect === true">
                            <i class="fa fa-check-circle fa-lg"></i>
                            Correct
                        </div>
                    </div>

                </div>

                <div class="question-answer row" dir="rtl">
                    <input class="answer-input-small" ng-model="question.question" disabled>

                    <div class="user-input-container">

                        <input class="answer-input-small" answer-progress question-obj="question"
                               ng-class="{'error': question.userError}" ng-keypress="$event.which === 13 && questions.checkAnswer(question.userAnswer, question.answer)"
                               answer="question.answer" ng-model="question.userAnswer" type="text">
                    </div>
                </div>

                <div class="buttons-container align-right row">

                    <button class="btn btn-default standard-btn">Skip</button>
                    <button class="btn btn-default standard-btn">Show Answer</button>
                    <button class="btn btn-default standard-btn" ng-click="questionsService.checkAnswer(question.userAnswer, question.answer)">Check Answer</button>

                </div>

            </div>

    </div>
</div>
