<div>
    <div class="section-title row">
        <input ng-if="title === 'Type'" type="checkbox" ng-model="filterOptions.allTypes" ng-change="filterOptions.toggleAll('types', filterOptions.allTypes)">
        <input ng-if="title !== 'Type'" ng-disabled="disabled" type="checkbox" ng-model="filterOptions.others" ng-change="filterOptions.toggleAll('types', filterOptions.allTypes)">
        {{title}}
    </div>

    <table class="table">
        <tbody>
        <tr ng-repeat="option in options">
            <td class="col-md-1">
                <input ng-disabled="disabled" type="checkbox" ng-model="option.selected" ng-change="questions.updateQuestions()">
            </td>
            <td colspan="2" class="full-width small-font">
                {{option.name.capitalize()}}
            </td>
        </tr>
        </tbody>

    </table>
</div>
