<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 column1">
            <div ng-include="templateDirectory + '/column1.html'"></div>
        </div>

        <div class="col-sm-9 column2">
            <div class="question-box" ng-repeat="question in questions.filteredQuestions" ng-if="question === questions.currentQuestion">
                <div class="row medium-font" ng-show="alert.visible">
                    <div class="col-md-8 col-md-offset-2 message-mode">
                        {{alert.message}}
                        <br>
                        <br>
                        <div>
                            <button ng-if="alert.type === 'setCompleted'" class="btn btn-default" ng-click="questions.resetQuestions()">Start Over</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 question-mode" ng-hide="alert.visible">
                        
                        <div class="row question-title">
                            <div ng-include="templateDirectory + '/question_title.html'"></div>
                        </div>


                        <div class="row input-and-buttons">
                            <!--input area-->
                            <div class="col-md-6 input-container">
                                <div ng-include="templateDirectory + '/answer_input.html'"></div>
                            </div>

                            <div class="col-md-2 pronoun-container">
                                <span class="largest-font">{{question.pronoun}}</span>
                            </div>

                            <!--button area-->
                            <div class="col-md-4 button-container">
                                <div class="align-right medium-font">
                                    <button class="btn btn-default btn-lg btn-block" ng-hide="question.isCorrect" ng-click="questions.checkAnswer(question.userAnswer, question.perfect)">Check Answer</button>
                                    <button class="btn btn-default btn-lg btn-block" ng-show="question.isCorrect" ng-click="questions.nextQuestion()">Next Question</button>
                                    <button class="btn btn-default btn-lg btn-block" ng-disabled="question.isCorrect" ng-click="questions.showAnswer(question, question.perfect)">Show Answer</button>
                                    <button class="btn btn-default btn-lg btn-block" ng-disabled="question.isCorrect"  ng-click="questions.nextQuestion()">Skip</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
