.exercises {
  .question-heading {
    background-color: @main;
    color: @light;
    padding: 10px;
  }

  .question-answer {
    background-color: @light;
  }

  .buttons-container {
    background-color: @main;
    padding: 10px;
  }

  .standard-btn {
    width: 150px;
  }

  .answer-input-small {
    .answer-input;
    .large-font;
    padding: 10px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .incorrect-answer {
    position: static;
    color: @errorBg;
  }

  .correct-answer {
    position: static;
    color: @successBg;
  }

  .question-navigation {
    color: @light;
    .medium-font;
  }

}