.question-box {
  margin-top: 150px;
}

.question-mode {
  background-color: @main;
  padding-top: 10px;
}

.message-mode {
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input.answer-input {
  border: solid #808080 2px;
  outline: none;
  width: 100%;
  .largest-font;
}

.answer {
  position: absolute;
  left: 5%;
  top: 15px;
}

.correct-answer {
  .answer;
  color: @successColor;
  font-style: italic;
  font-size: 18px;
}

.incorrect-answer {
  .answer;
  .correct-answer;
  color: @errorColor;
}

.input-and-buttons {
  background-color: @light;
}

.question-title {
  color: @light;
}

.button-container {
  background-color: @secondary;
  padding-top: 40px;
  padding-bottom: 40px;
}

.input-container {
  padding-top: 40px;
}

.pronoun-container {
  .input-container;
}

// vertically center table contents
.table tbody>tr>td {
  vertical-align: middle;
}
