<!--<div class="row full-height">-->

    <!--<div class="col-md-3 left-panel">-->

        <!--<table class="table">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>-->
                        <!--<input type="checkbox">-->
                    <!--</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Pronoun</th>-->
                <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
                <!--<tr ng-repeat="item in pronounList">-->
                    <!--<td>-->
                        <!--<input type="checkbox" ng-model="item.selected">-->
                    <!--</td>-->
                    <!--<td>{{conjugator.getName(item)}}</td>-->
                    <!--<td class="large-font">{{item.pronoun}}</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->


    <!--</div>-->


    <!--<div class="col-md-7 col-md-offset-1 main-panel large-font">-->

        <!--<div class="question-box">-->
            <!--<p>Center aligned text.</p>-->
        <!--</div>-->

        <!--<div ng-repeat="verb in verbs">-->
            <!--<div ng-repeat="conjugation in verb.conjugations | filter:isSelected">-->
                <!--{{conjugation.perfect}}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-1">-->
    <!--</div>-->

<!--</div>-->


