<div class="content-container">

    <header class="header">
        Arabic Verb App
    </header>
    <div class="columns-container">
        <div class="column1">

            <div>
                <div class="section-title">
                    Types
                </div>

                <table class="pure-table pure-table-horizontal">
                    <tbody>
                        <tr ng-repeat="verbType in filterOptions.types">
                            <td class="checkbox">
                                <input type="checkbox" ng-model="verbType.selected" ng-change="updateQuestions()">
                            </td>
                            <td colspan="2" class="full-width small-font">
                                {{_.capitalize(verbType.name)}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>


            <div>
                <div class="section-title">
                    Pronouns
                </div>

                <table class="pure-table pure-table-horizontal">
                    <tbody>
                        <tr ng-repeat="item in filterOptions.pronounList">
                            <td>
                                <input type="checkbox" ng-model="item.selected" ng-change="updateQuestions()">
                            </td>
                            <td class="small-font">{{conjugator.getName(item).capitalize()}}</td>
                            <td class="large-font">{{item.pronoun}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>

        <div class="column2">

            <div class="question-box large-font">

                <div>Verb: {{currentConjugation.verb.letter1 + ' - ' + currentConjugation.verb.letter2 + ' - ' + currentConjugation.verb.letter3}}</div>
                <div>Definition: {{currentConjugation.verb.definition}}</div>
                <div>Questions: {{filteredQuestions().length}}</div>

                <div dir="rtl">
                    {{currentConjugation.pronoun}}
                    <input answer-progress user-input="input" ng-class="{'error': input.error}" answer="currentConjugation.perfect" ng-model="input.answer" type="text">
                </div>

                <br>
                <button class="pure-button" ng-click="next()">Skip</button>
                <button class="pure-button" ng-click="showAnswer(input, currentConjugation.perfect)">Show Answer</button>
                <button class="pure-button pure-button-primary" ng-click="submit(input.answer, currentConjugation.perfect)">Submit</button>

            </div>


        </div>

        <div class="column3"></div>

    </div>
    <footer class="footer">Footer here</footer>

</div>

