<div class="content-container">

    <header class="header">
        StudyArabic.com
    </header>

    <div class="columns-container">

        <div class="column1">
            <div ng-include="templateDirectory + '/column1.html'"></div>
        </div>

        <div class="column2">

            <div class="question-box">

                <div class="row middle-md message-mode medium-font" ng-show="alert.visible">
                    <div class="col-md-12">
                        {{alert.message}}
                        <br>
                        <div>
                            <button ng-if="alert.type === 'setCompleted'" class="pure-button pure-button-primary" ng-click="resetQuestions()">Start Over</button>
                        </div>
                    </div>
                </div>

                <div class="question-mode" ng-hide="alert.visible">
                    <div class="row question-title">
                        <div class="col-md-6 largest-font">
                            <div>{{conjugator.getVerb(questions.currentQuestion.verb, 5)}}</div>
                        </div>

                        <div class="col-md-6 align-right">
                            <div>Question {{questions.questionIndex + 1}} of {{questions.filteredQuestions.length}}</div>
                            <div>Definition: {{questions.currentQuestion.verb.definition}}</div>
                        </div>
                    </div>

                    <div class="row middle-md input-and-buttons">

                        <!--input area-->
                        <div class="col-md-8">

                            <div class="row middle-md message-div">
                                <div class="incorrect-answer" ng-if="questions.currentQuestion.isCorrect === false">Wrong Answer!</div>
                                <div class="correct-answer" ng-if="questions.currentQuestion.isCorrect === true">Correct Answer!</div>
                            </div>
                            <div class="row middle-md" dir="rtl">
                                <div class="col-md-3 footer largest-font">
                                    <span>{{questions.currentQuestion.pronoun}}</span>
                                </div>
                                <div class="col-md-9 input-container">
                                    <div dir="rtl">
                                        <input class="answer-input" answer-progress user-input="questions.input" ng-class="{'error': questions.input.error}" answer="questions.currentQuestion.perfect" ng-model="questions.input.answer" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row middle-md message-div">
                                {{conjugator.getName(questions.currentQuestion).capitalize()}}
                            </div>



                        </div>

                        <!--button area-->
                        <div class="col-md-4 button-container">
                            <div class="align-right medium-font">
                                <button class="normal-button pure-button pure-button-primary" ng-hide="questions.currentQuestion.isCorrect" ng-click="questions.checkAnswer(questions.input.answer, questions.currentQuestion.perfect)">Check Answer</button>
                                <button class="normal-button pure-button pure-button-primary" ng-show="questions.currentQuestion.isCorrect" ng-click="questions.nextQuestion()">Next Question</button>
                                <button class="normal-button pure-button" ng-disabled="questions.currentQuestion.isCorrect" ng-click="questions.showAnswer(questions.input, questions.currentQuestion.perfect)">Show Answer</button>
                                <button class="normal-button pure-button" ng-disabled="questions.currentQuestion.isCorrect"  ng-click="questions.nextQuestion()">Skip</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>

        <div class="column3"></div>

    </div>
    <!--<footer class="footer">Footer here</footer>-->

</div>
